---
HeaderFilterRegex: 'src/.*'

Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -altera-*

CheckOptions:
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           camelCase
  - key:             readability-identifier-naming.ParameterCase
    value:           camelCase
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.VariableMinLength
    value:           1
---
